* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/background.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px);
}

header {
    position: fixed;
    top: 0; left: 0; right: 0;
    background: rgb(2, 2, 2);
    box-shadow: 0 5px 10px rbga(0,0,0,.1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    color: white;
}

header .logo img {
    height: 4rem;
}

.logo1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo1 img {
    max-width: 250px; 
    max-height: 250px; 
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 18px;
    padding: 18px;
    border-radius: 3px;
    color: white;
    display: block;
}

header .navbar ul li a:hover {
    background: #333;
    color: #fff;
}

a.active,a:hover {
	border: none;
    transition: all 0.3s ease 0s;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}

.welcome-text {
    text-align: center;
}

.welcome-text h1 {
	text-align: center;
	color: #2378e8;
	font-size: clamp(2.6875rem, 1.75rem + 3vw, 3.4375rem);
}

.welcome-text p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 5px;
    color: #fff;
    text-align: center;
    font-size: 13px;
    background-color: #121212;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 25px;
    background: #333;
    color: #fff;
    padding: 17px;
    cursor: pointer;
    font-size: clamp(0.875rem, 0.7188rem + 0.5vw, 1rem);
    text-decoration: none;
}

.btn:hover {
    background: #2378e8;
}

@media (max-width:600px){
    header {
        padding: 18px;
    }  
    header .logo img{
        height: 3rem;
    }
    header label {
        display: initial;
    }
    header .navbar {
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: whitesmoke;
        border-top: 1px solid rgba(0,0,0,.1);
        display: none;
    }
    header .navbar ul li{
        width: 100%;
    }
    header .navbar ul li a{
        font-size: 18px;
    }
    #menu-bar:checked ~ .navbar {
        display: initial;
    }
}